<!doctype html>
<html ng-app>

<head>
  <title>More on Directives</title>
  <link href="style.css" type="text/css" rel="stylesheet" />
</head>

<body ng-init="customers=[{joined: '2012-10-09', name: 'Travis', city: 'Brisbane', orderTotal: 134.435},
{joined: '2013-11-02', name: 'John', city: 'Melbourne', orderTotal: 414.437},
{joined: '2007-10-19', name: 'Jack', city: 'Perth', orderTotal: 99.211}];sortBy='name';rev=false">

<input type="text" ng-model="customerFilter" />
<table>
  <tr>
    <th ng-click="sortBy='name';rev=!rev">
      Name
    </th>
    <th ng-click="sortBy='joined';rev=!rev">
      Joined
    </th>
    <th ng-click="sortBy='city';rev=!rev">
      City
    </th>
    <th ng-click="sortBy='orderTotal';rev=!rev">
      Order Total
    </th>
  </tr>
  <tr ng-repeat="customer in customers | filter: {name: customerFilter}| orderBy: sortBy:rev">
    <td>
      {{ customer.name }}
    </td>
    <td>
      {{ customer.joined | date: 'dd/MM/yyyy' }}
    </td>
    <td>
      {{ customer.city }}
    </td>
    <td>
      {{ customer.orderTotal | currency }}
    </td>
  </tr>
</table>

  <script src="angular.js"></script>
</body>

</html>
