<h2>All Orders</h2>
<h5>Filter order: <input type="text" ng-model="filterText" /></h5>
<table class="table" ng-cloak>
  <tr>
    <th>
      Product
    </th>
    <th>
      Total
    </th>
  </tr>
  <tr ng-repeat="order in allOrders | filter : filterText" class="repeat-animation">
    <td>
      {{ order.product }}
    </td>
    <td>
      {{ order.total | currency }}
    </td>
  </tr>
  <tr ng-class="totalClass">
    <td>
      &nbsp;
    </td>
    <td>
      {{ allOrdersTotal | currency }}
    </td>
  </tr>
</table>
